<p> <a href="https://bambade.github.io//">Antoine Bambade (EDF) </a></p>
<p> <a href="https://antoyang.github.io/">Antoine Yang (Google DeepMind) </a></p>
<p> <a href="https://16lemoing.github.io">Guillaume Le Moing (Google DeepMind) </a></p>
<p> <a href="https://fr.linkedin.com/in/adrien-bardes-48a080129">Adrien Bardes (Meta) </a></p>
<p> <a href="https://aelnouby.github.io">Alaa El-Nouby (Apple MLR) </a></p>
<p> <a href="https://www.linkedin.com/in/elliot-chane-sane-a97712165">Elliot Chane-Sane (LAAS-CNRS) </a></p>
<p> <a href="https://bruno-31.github.io/">Bruno Lecouat </a></p>
<p> <a href="https://hugocisneros.com/">Hugo Cisneros (Inicio) </a></p>
<p> <a href="https://ylabbe.github.io/">Yann Labb&eacute; (Meta) </a></p>
<p> <a href="https://www.linkedin.com/in/guhur/">Pierre-Louis Guhur (Pillar Technology Ventures) </a></p>
<p> Zongmian Li </p>
<p> <a href="https://www.di.ens.fr/robin.strudel/"> Robin Strudel (DeepMind) </a></p>
<p> <a href="http://minttualakuijala.com/">  Minttu Alakuijala (Aalto University)</a></p>
<p> <a href="https://alexandrearaujo.com/"> Alexandre Araujo (NYU)</a></p>
<p> <a href="https://huyvvo.github.io/"> Van Huy Vo (Meta AI)</a></p>
<p> <a href="https://www.linkedin.com/in/rohanbudhiraja/"> Rohan Budhiraja (SquareMind)</a></p>
<p> <a href="https://olivier-flasseur.github.io/"> Olivier Flasseur (CNRS)</a></p>
<p> <a href="https://www.di.ens.fr/jean-paul.laumond/"> Jean-Paul Laumond (†)</a></p>
<p> <a href="https://www.di.ens.fr/dimitri.zhukov/"> Dimitri Zhukov (Tractable)</a></p>
<p> <a href="https://www.di.ens.fr/thomas.eboli/"> Thomas Eboli (ENS Paris-Saclay)</a></p>
<p> <a href="https://hassony2.github.io/">Yana Hasson (DeepMind)</a></p>
<p> <a href="https://www.linkedin.com/in/ronan-riochet-846625a5/">Ronan Riochet (Milvue)</a></p>
<p> <a href="https://www.irocco.info/">Ignacio Rocco (Facebook)</a></p>
<p> <a href="http://www.cs.toronto.edu/~makarand/">Makarand Tapaswi (Wadhwani AI)</a></p>
<p> <a href="http://www.di.ens.fr/~miech/">Antoine Miech (DeepMind)</a> </p>
<p> <a href="https://people.eecs.berkeley.edu/~efros/">Alexei Efros (UC Berkeley)</a> </p>
<p> <a href="https://researchweb.iiit.ac.in/~vijaykumar.r/">Vijay Kumar (Walmart Labs)</a> </p>
<p> Th&eacute;ophile Dalens</p>
<p> <a href="http://www.di.ens.fr/~jpeyre">Julia Peyre (Helix RE)</a> </p>
<p> <a href="http://www.di.ens.fr/~varol">G&uuml;l Varol (Univ. of Oxford)</a> </p>
<p> <a href="http://imagine.enpc.fr/~zagoruys/">Sergey Zagoruyko (Facebook)</a> </p>
<p> Tuan-Hung Vu (Valeo) </p>
<p> <a href="https://www.di.ens.fr/~trager/">Matthew Trager (NYU)</a> </p>
<p> <a href="http://aosokin.github.io/">Anton Osokin (CS HSE)</a> </p>
<p> <a href="http://cmp.felk.cvut.cz/~gronapet/">Petr Gronat (Avast)</a> </p><!-- ? -->
<p> <a href="http://cvlab.postech.ac.kr/~mcho/">Minsu Cho (POSTECH)</a> </p>
<p> <a href="http://www.di.ens.fr/~bojanowski">Piotr Bojanowski (Facebook)</a> </p>
<p> <a href="http://vadimkantorov.com/">Vadim Kantorov</a> </p>      
<p> Louise Benoit </p>
<p> <a href="http://lear.inrialpes.fr/people/alahari/">Karteek Alahari (THOTH)</a> </p>
<p> <a href="http://www.di.ens.fr/~arlot/">Sylvain Arlot (SIERRA)</a> </p>
<p> <a href="http://imagine.enpc.fr/~aubrym/">Mathieu Aubry (&Eacute;cole des Ponts ParisTech)</a> </p>
<p> <a href="http://certis.enpc.fr/~audibert/">Jean-Yves Audibert (SIERRA)</a> </p>
<p> <a href="http://www.di.ens.fr/~fbach/">Francis Bach (SIERRA)</a> </p>
<p> <a href="http://cs.nyu.edu/~ylan/">Y-Lan Boureau (Facebook)</a> </p>
<p> <a href="http://www.di.ens.fr/~cherniav/">Neva Cherniavsky (MIT)</a> </p>
<p> <a href="http://www.seas.upenn.edu/~timothee/">Timothee Cour (Google)</a> </p>
<p> Vincent Delaitre (Deepomatic) </p>
<p> <a href="http://solidware.io/?page_id=3518">Olivier Duchenne (Solidware)</a> </p>
<p> C&eacute;cile Espiegle </p>
<p> Loic Fevrier </p>
<p> <a href="http://www.cse.wustl.edu/~furukawa/">Yasutaka Furukawa (Washington University)</a> </p>
<p> Edouard Grave (Facebook) </p>
<p> <a href="http://www.harchaoui.org/warith/">Warith Harchaoui</a> </p>
<p> <a href="http://cbio.ensmp.fr/~thocking/">Toby Hocking (SIERRA)</a> </p>
<p> <a href="http://www.di.ens.fr/~jenatton/">Rodolphe Jenatton (Amazon)</a> </p>
<p> <a href="http://www.di.ens.fr/~joulin/">Armand Joulin (Facebook)</a> </p>
<p> <a href="http://sites.google.com/site/huikongsite/Home">Hui Kong (OSU)</a> </p>
<p> <a href="http://www.normalesup.org/~gcheron/">Guilhem Ch&eacute;ron</a> </p>
<p> <a href="http://www.jbalayrac.com/">Jean-Baptiste Alayrac (DeepMind)</a> </p>
<p> Rafael S. Rezende (NAVER LABS) </p>
<p> Maxime Oquab (Facebook) </p>
<p> <a href="http://www.di.ens.fr/~bursuc/">Andrei Bursuc (Safran)</a> </p>
<p> <a href="http://www.relja.info/">Relja Arandjelovi&#263 (DeepMind)</a> </p>
<p> <a href="http://bsham.github.io/">Bumsub Ham (Yonsei University)</a> </p>
<p> <a href="http://www.di.ens.fr/~seguin">Guillaume Seguin (Regaind)</a> <p> 
<p> Florent Couzini&eacute;-Devy </p>
<p> Igor Kalevatykh </p>
<p> Akash Kushal (Two Sigma Investments) </p>
<p> <a href="http://www.di.ens.fr/~skwak/">Suha Kwak (POSTECH)</a> </p>
<p> <a href="http://www.di.ens.fr/~lefevrea">Augustin Lefevre (SIERRA)</a> </p>
<p> <a href="http://www.le-roux.name/">Nicolas Le Roux (Google Brain)</a> </p>
<p> Jos&eacute; Lezama (ENS Cachan) </p>
<p> <a href="http://www.di.ens.fr/~obozinski/">Guillaume Obozinski (&Eacute;cole des Ponts ParisTech)</a> </p>
<p> <a href="http://www.di.ens.fr/~mairal/">Julien Mairal (THOTH)</a> </p>
<p> <a href="http://isda.ncsa.uiuc.edu/~kmchenry/">Kenton McHenry (UIUC)</a> </p>
<p> <a href="http://imagine.enpc.fr/~pons/">Jean-Philippe Pons (CSTB)</a> </p>
<p> <a href="http://www.mikelrodriguez.com">Mikel Rodriguez (MITRE)</a> </p>
<p> <a href="http://www.di.ens.fr/~russell/">Bryan Russell (Adobe)</a> </p>
<p> Florent S&eacute;gonne (SIERRA) </p>
<p> <a href="http://www.di.ens.fr/~chari/">Visesh Chari (Amazon)</a> </p>
<p> <a href="http://www.di.ens.fr/~solnon/">Matthieu Solnon (SIERRA)</a> </p>
<p> <a href="http://gr.xjtu.edu.cn/web/jiansun/">Jian Sun (Xi&rsquo;an Jiaotong University)</a> </p>
<p> <a href="http://staff.science.uva.nl/~jvgemert/">Jan van Gemert (UVA)</a> </p>
<p> Muhammad Muneeb Ullah </p>
<p> <a href="http://www.oliver-whyte.com/">Oliver Whyte (Microsoft)</a> </p>
