<p> <a href="https://www.linkedin.com/in/kateryna-zorina/">Kateryna Zorina (PhD student)</a> </p>
<p> <a href="http://www.ok.ctrl.titech.ac.jp/~torii/">Akihiko Torii</a> </p>
<p> <a href="http://leon.bottou.org/">L&eacute;on Bottou</a> </p>
<p> <a href="http://www.cs.cmu.edu/~santosh/">Santosh Kumar Divvala</a> </p>
<p> <a href="http://people.csail.mit.edu/fredo/">Fr&eacute;do Durand</a> </p>
<p> <a href="http://people.csail.mit.edu/billf/">Bill Freeman</a> </p>
<p> <a href="http://www.cs.cmu.edu/~jhhays/">James Hays</a> </p>
<p> <a href="http://homes.esat.kuleuven.be/~jknopp/">Jan Knopp</a> </p>
<p> <a href="http://web.eecs.umich.edu/~fouhey/">David Fouhey</a> </p>
<p> <a href="http://www.cs.cmu.edu/~mladenk/">Mladen Kolar</a> </p>
<p> <a href="http://web.engr.illinois.edu/~slazebni/">Svetlana Lazebnik</a> </p>
<p> <a href="http://www.cs.cmu.edu/~tmalisie/">Tomasz Malisiewicz</a> </p>
<p> <a href="http://iris.usc.edu/~nevatia/">Ram Nevatia</a> </p>
<p> <a href="http://cvcl.mit.edu/aude.htm">Aude Oliva</a> </p> <!-- ? -->
<p> <a href="http://cis.jhu.edu/~rvidal/">Ren&eacute; Vidal</a> </p>
